@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap");

* {
  /*Style Reset*/
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
}
a:visited {
  color: #5b74cf;
}
a:hover {
  color: #e892aa;
  cursor: pointer;
}
nav {
  padding-top: 3rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

nav ul li {
  padding-bottom: 1rem;
  text-align: center;
}

.nav-link {
  flex: 1;
  border-bottom: #5b74cf 3px solid;
  color: #5b74cf;
}

.container {
  display: grid;
  grid-template-columns: 3.5fr 6.5fr;
  height: 100vh;
}

.left-panel {
  background-color: #5b74cf;
}

.right-panel {
  background-color: white;
}

.circle {
  z-index: 1;
  position: absolute;
  top: 20vh;
  left: 15vw;
  border-radius: 999px;
  width: 25vw;
  height: 25vw;
  background-color: #e892aa;
  background-image: url("./me.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 79%;
}

.name {
  z-index: 2;
  position: absolute;
  top: 63vh;
  left: 8.5vw;
  font-size: 3rem;

  color: #dec471;
  padding-right: 2rem;
  padding-left: 2rem;
  background-color: white;
}

.text {
  width: 40rem;
  color: #d66076;
}

h2 {
  font-size: 4rem;
  padding-bottom: 1.5rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
}

.center-me-baybe {
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-me-baybe div.text {
  width: 40rem;
}
